.App {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-head{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: chocolate;
}
.hori-line{
  border: 1px solid black;
  width: 100%;
}
.heder-cont{
  width: 100%;
  height: 30px;
  background-color: lightpink;
  display: flex;
  align-items: center;
}
.add-btn{
  margin-left: 10px;
  background-color: transparent;
  border-style: none;
  font-size: 30px;
}
.comp-b-cont{
  width: 10%;
  margin-left: 170px;
}
.hori-line-new{
  border: 1px dashed black;
  width: 100%;
}